ArtlessEdit.xcodeproj/project.xcworkspace/xcshareddata/ArtlessEdit.xccheckout
ArtlessEdit.xcodeproj/xcuserdata/jan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ArtlessEdit.xcodeproj/xcuserdata/jan.xcuserdatad/xcschemes/ArtlessEdit.xcscheme
ArtlessEdit.xcodeproj/xcuserdata/jan.xcuserdatad/xcschemes/xcschememanagement.plist
